body {
  background-color: $color-white;
}

.header-bar {
  background-color: $color-blue;
  padding: $spacer-50;
  color: $color-white;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: $spacer-20;
}

.page-content {
  color: $color-black;
  margin: $spacer-20;
  margin-top: 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0 $spacer-50 0 $spacer-50;
  gap: 20px;

  p {
    text-align: left;
    flex-basis: 50%;
  }
}

.page-content-two-column {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 8px $color-black;
  padding: 20px;
  gap: 12px;

}

.page-content * {
  max-width: 700px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 700px;
  margin: auto;
  margin-top: 0px;

  button {
    flex-basis: 33.333%;
    border-style: none;
  }
}

.footer {}